{% extends "base.html" %} {% block title %}New panel{% endblock %} {% block
head_end %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.4.1"></script>
<link
  rel="stylesheet"
  href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
  integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/purecss@2.0.6/build/grids-responsive-min.css"
/>
<link
  rel="stylesheet"
  href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
/>
<style>
  html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }
  #content {
    height: 100%;
  }

  .gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
  }
  .gu-hide {
    display: none !important;
  }
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }

  @media screen and (min-width: 1200px) {
    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
    }

    .proposal-list {
      background-color: #e00;
      width: 600px;
      height: 760px;
      overflow-y: scroll;
    }

    .new-panel-proposal-list {
      background-color: #0e0;
      width: 600px;
      height: 490px;
      overflow-y: scroll;
    }

    .proposal {
      width: 550px;
      margin: 5px;
      padding: 10px;
      background-color: #ccc;
    }

    .proposal-search form input {
      width: 600px;
    }
  }

  @media screen and (min-width: 800px) and (max-width: 1199px) {
    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
    }

    .proposal-list {
      background-color: #e00;
      width: 400px;
      height: 760px;
      overflow-y: scroll;
    }

    .new-panel-proposal-list {
      background-color: #0e0;
      width: 400px;
      height: 490px;
      overflow-y: scroll;
    }

    .proposal {
      width: 350px;
      margin: 5px;
      padding: 10px;
      background-color: #ccc;
    }

    .proposal-search form input {
      width: 400px;
    }
  }

  @media screen and (min-width: 100px) and (max-width: 799px) {
    .container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-start;
      gap: 10px;
    }

    .proposal-list {
      background-color: #e00;
      width: 98%;
      height: 200px;
      overflow-y: scroll;
    }

    .new-panel-proposal-list {
      background-color: #0e0;
      width: 98%;
      height: 200px;
      overflow-y: scroll;
    }

    .proposal {
      width: 90%;
      margin: 5px;
      padding: 10px;
      background-color: #ccc;
    }

    .proposal-search form input {
      width: 98%;
    }
  }
</style>
{% endblock %} {% block content %}
<h4>
  <a href="{{ url_for('conferences.list')  }}">Conferences</a> &gt;
  <a href="{{ url_for('conferences.detail', slug=slug)  }}">
    {{ conference.name }}
  </a>
  &gt; <a href="{{ url_for('conferences.list_panels', slug=slug) }}">Panels</a>
  &gt; New
</h4>
<hr />
<div class="container">
  <div class="proposal-search">
    <form class="pure-form" onsubmit="return false;">
      <input
        type="text"
        name="q"
        placeholder="Search for a proposal ..."
        hx-get="{{ url_for('conferences.search_proposal', slug=slug) }}"
        hx-trigger="keyup changed delay:500ms"
        hx-target="#search-results"
      />
    </form>
    <div id="search-results" class="pure-g proposal-list"></div>
  </div>
  <div class="new-panel">
    <form
      class="pure-form pure-form-aligned"
      method="POST"
      action="{{ url_for('conferences.create') }}"
    >
      <fieldset>
        <div class="pure-control-group">
          <label for="panel-name">Name:</label>
          <input name="panel-name" placeholder="Name" type="text" />
        </div>
        <div class="pure-control-group">
          <label for="panel-start">Start:</label>
          <input
            name="panel-start"
            placeholder="Start time"
            type="datetime-local"
          />
        </div>
        <div class="pure-control-group">
          <label for="panel-duration">Duration:</label>
          <input
            name="panel-duration"
            placeholder="Duration (minutes)"
            type="number"
          />
        </div>
        <div class="pure-control-group">
          <label for="panel-gap">Gap:</label>
          <input name="panel-gap" placeholder="Gap (minutes)" type="number" />
        </div>
        <div class="pure-controls">
          <button type="submit" class="pure-button pure-button-primary">
            Create new panel
          </button>
        </div>
      </fieldset>
    </form>
    <p>Panel's proposals</p>
    <small>Drag a proposal to the area below to add it to the panel.</small>
    <div class="new-panel-proposal-list"></div>
  </div>
</div>
<script>
  let proposalList = document.querySelector(".proposal-list");
  let newPanelList = document.querySelector(".new-panel-proposal-list");
  let drake = dragula([proposalList, newPanelList], {
    accepts: function (el, target, source, sibling) {
      // Prevent dropping back to the search result list.
      if (
        Array.from(target.classList).includes("proposal-list") &&
        Array.from(source.classList).includes("new-panel-proposal-list")
      ) {
        return false;
      }

      // Prevent same ID to be dropped into the target.
      if (Array.from(target.classList).includes("new-panel-proposal-list")) {
        let counter = new Map();
        for (let item of target.children) {
          if (counter.has(item.dataset.id)) {
            const oldValue = counter.get(item.dataset.id);
            counter.set(item.dataset.id, oldValue + 1);
          } else {
            counter.set(item.dataset.id, 1);
          }
        }
        if (counter.has(el.dataset.id) && counter.get(el.dataset.id) !== 1) {
          return false;
        }
      }

      return true;
    },
    removeOnSpill: true, // cannot be used when copy is true.
    invalid: function (el, handle) {
      // Prevent dragging of the empty result indicator.
      if (Array.from(el.classList).includes("not-found")) {
        return true;
      }
      return false;
    },
  });

  // Low level API.
  drake.on("remove", function (el, container, source) {
    console.log("remove");
    console.log(el);
  });
</script>
{% endblock %}
