{% extends "base.html" %} {% block title %}Create conference{% endblock %} {%
block content %}
<div class="uk-flex uk-flex-center">
  <div class="main-content">
    <ul class="uk-breadcrumb">
      <li>
        <a href="{{ url_for('conferences.list', page=conf_list_page) }}"
          >Conferences</a
        >
      </li>
      <li>
        <a
          href="{{ url_for('conferences.detail', slug=conference.slug, clp=conf_list_page) }}"
          >{{ conference.name }}</a
        >
      </li>
      <li><span>Edit conference</span></li>
    </ul>
    <form
      class="uk-form-horizontal uk-margin-large"
      method="POST"
      action="{{ url_for('conferences.edit', slug=conference.slug) }}"
    >
      <div class="uk-margin">
        {{ form.name.label(class_="uk-form-label") }}
        <div class="uk-form-controls">
          {% if form.name.errors %} {{ form.name(size=20, class_="uk-input
          uk-form-danger") }} {% else %} {{ form.name(size=20,
          class_="uk-input") }} {% endif %}
        </div>
      </div>
      <div class="uk-margin">
        {{ form.description.label(class_="uk-form-label") }}
        <div class="uk-form-controls">
          {% if form.description.errors %} {{ form.description(rows=6, cols=60,
          class_="uk-textarea uk-form-danger") }} {% else %} {{
          form.description(rows=6, cols=60, class_="uk-textarea") }} {% endif %}
        </div>
      </div>
      <div class="uk-margin">
        {{ form.begin.label(class_="uk-form-label") }}
        <div class="uk-form-controls">
          {% if form.begin.errors %} {{ form.begin(class_="uk-input
          uk-form-danger") }} {% else %} {{ form.begin(class_="uk-input") }} {%
          endif %}
        </div>
      </div>
      <div class="uk-margin">
        {{ form.end.label(class_="uk-form-label") }}
        <div class="uk-form-controls">
          {% if form.end.errors %} {{ form.end(class_="uk-input uk-form-danger")
          }} {% else %} {{ form.end(class_="uk-input") }} {% endif %}
        </div>
      </div>
      {{ form.csrf_token }}
      <button type="submit" class="uk-button uk-button-primary">Update</button>
    </form>
  </div>
</div>
{% endblock %}
