{% extends "base.html" %} {% block title %}Panels{% endblock %} {% block content
%}
<div class="uk-flex uk-flex-center">
  <div class="main-content">
    <ul class="uk-breadcrumb">
      <li>
        <a href="{{ url_for('conferences.list', page=conf_list_page) }}"
          >Conferences</a
        >
      </li>
      <li>
        <a
          href="{{ url_for('conferences.detail', slug=slug, clp=conf_list_page) }}"
          >{{ conference.name }}</a
        >
      </li>
      <li><span>Panels</span></li>
    </ul>
    <a
      href="{{ url_for('conferences.create_panel', slug=slug) }}"
      class="uk-button uk-button-text"
      >Create new panel</a
    >
    <hr />
    <div class="panel-list">
      {% for short_title, p in items %}
      <div class="pure-u-1">
        <p><span>Title: {{ short_title }}</span></p>
        <a
          class="pure-button"
          href="{{ url_for('conferences.proposal_detail', slug=slug, pid=p.id, plp=pagination['curr_page']) }}"
          >Detail</a
        >
      </div>
      {% else %}
      <div class="pure-u-1 not-found">
        <p>No panel found</p>
      </div>
      {% endfor %}
    </div>
    <script>
      let panelList = document.querySelector(".panel-list");
      let drake = dragula([panelList], {
        invalid: function (el, handle) {
          // Prevent dragging of the empty result indicator.
          if (Array.from(el.classList).includes("not-found")) {
            return true;
          }
          return false;
        },
      });

      // Low level API.
      drake.on("remove", function (el, container, source) {
        console.log("remove");
        console.log(el);
      });
    </script>
  </div>
</div>
{% endblock %}
