{# List of conferences #} {% extends "base.html" %} {% block
title%}Conferences{% endblock %} {% block content %}
<div class="uk-flex uk-flex-center">
  <div class="main-content">
    <div class="uk-flex uk-flex-middle uk-margin-top">
      <div>
        <a
          href="{{ url_for('conferences.create') }}"
          class="uk-button uk-button-text"
          >Create new conference</a
        >
      </div>
      <div class="uk-width-expand"></div>
      <div>
        <div class="uk-inline">
          <button class="uk-button uk-button-default" type="button">
            Order by
          </button>
          <div uk-dropdown="mode: click">
            <ul class="uk-nav uk-dropdown-nav">
              <li class="{{ 'uk-active' if order_by == 'start' }}">
                <a
                  href="{{ url_for('conferences.list', page=pagination['curr_page'], order_by='start') }}"
                  >Start date/time</a
                >
              </li>
              <li class="{{ 'uk-active' if order_by == 'name' }}">
                <a
                  href="{{ url_for('conferences.list', page=pagination['curr_page'], order_by='name') }}"
                  >Name</a
                >
              </li>
              <li class="{{ 'uk-active' if order_by == 'number-of-proposal' }}">
                <a
                  href="{{ url_for('conferences.list', page=pagination['curr_page'], order_by='number-of-proposal') }}"
                  ># Proposals</a
                >
              </li>
              <li class="{{ 'uk-active' if order_by == 'number-of-panels' }}">
                <a
                  href="{{ url_for('conferences.list', page=pagination['curr_page'], order_by='number-of-panels') }}"
                  ># Panels</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr />
    {% for c in items %}
    <article class="uk-article uk-margin-top uk-margin-bottom">
      <h1 class="uk-article-title">{{ c.name }}</h1>
      <p class="uk-article-meta">{{ c.begin }} to {{ c.end }}</p>
      <p>{{ c.description }}</p>
      <div class="uk-grid-small uk-child-width-auto" uk-grid>
        <div>
          <a
            class="uk-button uk-button-text"
            href="{{ url_for('conferences.detail', slug=c.slug, clp=pagination['curr_page']) }}"
            >Detail</a
          >
        </div>
        <div>
          <a
            class="uk-button uk-button-text"
            href="{{ url_for('conferences.list_proposals', slug=c.slug) }}"
            >View proposals</a
          >
        </div>
        <div>
          <a
            class="uk-button uk-button-text"
            href="{{ url_for('conferences.list_panels', slug=c.slug) }}"
            >View panels</a
          >
        </div>
      </div>
      {% else %}
      <div class="pure-u-1">
        <p>No conferences found</p>
      </div>
      {% endfor %}
      <div class="pure-u-1">
        {% if prev_url %}
        <a href="{{ prev_url }}">Newer conferences</a>
        {% endif %} {% if next_url %}
        <a href="{{ next_url }}">Older conferences</a>
        {% endif %}
      </div>
    </article>
  </div>
</div>
{% endblock %}
