{# List of conferences #} {% extends "base.html" %} {% block
title%}Conferences{% endblock %} {% block content %}
<div class="uk-flex uk-flex-center">
  <div class="main-content">
    <p uk-margin>
      <a
        href="{{ url_for('conferences.create') }}"
        class="uk-button uk-button-text"
        >Create new conference</a
      >
    </p>
    <hr />
    {% for c in items %}
    <article class="uk-article">
      <h1 class="uk-article-title">{{ c.name }}</h1>
      <p class="uk-article-meta">{{ c.begin }} to {{ c.end }}</p>
      <p>{{ c.description }}</p>
      <div class="uk-grid-small uk-child-width-auto" uk-grid>
        <div>
          <a
            class="uk-button uk-button-text"
            href="{{ url_for('conferences.detail', slug=c.slug, clp=pagination['curr_page']) }}"
            >Detail</a
          >
        </div>
        <div>
          <a
            class="uk-button uk-button-text"
            href="{{ url_for('conferences.list_proposals', slug=c.slug) }}"
            >View proposals</a
          >
        </div>
        <div>
          <a
            class="uk-button uk-button-text"
            href="{{ url_for('conferences.list_panels', slug=c.slug) }}"
            >View panels</a
          >
        </div>
      </div>
      {% else %}
      <div class="pure-u-1">
        <p>No conferences found</p>
      </div>
      {% endfor %}
      <div class="pure-u-1">
        {% if prev_url %}
        <a href="{{ prev_url }}">Newer conferences</a>
        {% endif %} {% if next_url %}
        <a href="{{ next_url }}">Older conferences</a>
        {% endif %}
      </div>
    </article>
  </div>
</div>
{% endblock %}
