{% extends "base.html" %} {% block title %}Panel detail{% endblock %} {% block
head_end %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.3/dragula.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.4.1"></script>
<style>
  .gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
  }
  .gu-hide {
    display: none !important;
  }
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }

  @media screen and (min-width: 1200px) {
    .proposal-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
    }

    .proposal-list {
      background-color: #b0f6ff;
      width: 600px;
      height: 760px;
      overflow-y: scroll;
    }

    .new-panel-proposal-list {
      background-color: #c4ffab;
      width: 600px;
      height: 490px;
      overflow-y: scroll;
    }

    .proposal {
      width: 550px;
      margin: 5px;
      padding: 10px;
      background-color: #ccc;
    }

    .proposal-search form input {
      width: 600px;
    }
  }

  @media screen and (min-width: 800px) and (max-width: 1199px) {
    .proposal-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 10px;
    }

    .proposal-list {
      background-color: #b0f6ff;
      width: 400px;
      height: 760px;
      overflow-y: scroll;
    }

    .new-panel-proposal-list {
      background-color: #c4ffab;
      width: 400px;
      height: 490px;
      overflow-y: scroll;
    }

    .proposal {
      width: 350px;
      margin: 5px;
      padding: 10px;
      background-color: #ccc;
    }

    .proposal-search form input {
      width: 400px;
    }
  }

  @media screen and (min-width: 100px) and (max-width: 799px) {
    .proposal-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-start;
      gap: 10px;
    }

    .proposal-list {
      background-color: #b0f6ff;
      width: 98%;
      height: 200px;
      overflow-y: scroll;
    }

    .new-panel-proposal-list {
      background-color: #c4ffab;
      width: 98%;
      height: 200px;
      overflow-y: scroll;
    }

    .proposal {
      width: 90%;
      margin: 5px;
      padding: 10px;
      background-color: #ccc;
    }

    .proposal-search form input {
      width: 98%;
    }
  }
</style>
{% endblock %} {% block content %}
<div class="uk-flex uk-flex-center">
  <div class="main-content">
    <ul class="uk-breadcrumb">
      <li>
        <a href="{{ url_for('conferences.list', page=conf_list_page) }}"
          >Conferences</a
        >
      </li>
      <li>
        <a
          href="{{ url_for('conferences.detail', slug=slug, clp=conf_list_page) }}"
          >{{ conference.name }}</a
        >
      </li>
      <li>
        <a href="{{ url_for('conferences.list_panels', slug=slug) }}">Panels</a>
      </li>
      <li><span>{{ panel.name }}</span></li>
    </ul>
    <hr />
    <article class="uk-article">
      <h1 class="uk-article-title">{{ panel.name }}</h1>
      <p class="uk-article-meta">Start at {{ panel.start }} with {{ panel.gap }} minutes gap between each presentation</p>
      <span class="uk-badge"># Presentations:</span>
      <p></p>
      <div class="uk-grid-small uk-child-width-auto" uk-grid>
        <div>
          <a
            class="uk-button uk-button-text"
            href="{{ url_for('conferences.panel_edit', slug=slug, pid=panel.id) }}"
            >Edit</a
          >
        </div>
        <div>
          <a
            class="uk-button uk-button-text"
            href="{{ url_for('conferences.list', slug=slug) }}"
            >Delete</a
          >
        </div>
      </div>
    </article>
    <div>
      <p>Panel's proposals</p>
    </div>
    <div class="proposal-container">
      <div class="proposal-search">
        <form class="pure-form" onsubmit="return false;">
          <input
            type="text"
            name="q"
            class="uk-input"
            placeholder="Search for a proposal ..."
            hx-get="{{ url_for('conferences.search_proposal', slug=slug) }}"
            hx-trigger="keyup changed delay:500ms"
            hx-target="#search-results"
          />
        </form>
        <div id="search-results" class="pure-g proposal-list"></div>
      </div>
      <div class="new-panel">
        <div class="new-panel-proposal-list"></div>
        <a class="uk-button uk-button-primary" href="#">Save</a>

      </div>
    </div>
    <script>
      let proposalList = document.querySelector(".proposal-list");
      let newPanelList = document.querySelector(".new-panel-proposal-list");
      let drake = dragula([proposalList, newPanelList], {
        accepts: function (el, target, source, sibling) {
          // Prevent dropping back to the search result list.
          if (
            Array.from(target.classList).includes("proposal-list") &&
            Array.from(source.classList).includes("new-panel-proposal-list")
          ) {
            return false;
          }

          // Prevent same ID to be dropped into the target.
          if (
            Array.from(target.classList).includes("new-panel-proposal-list")
          ) {
            let counter = new Map();
            for (let item of target.children) {
              if (counter.has(item.dataset.id)) {
                const oldValue = counter.get(item.dataset.id);
                counter.set(item.dataset.id, oldValue + 1);
              } else {
                counter.set(item.dataset.id, 1);
              }
            }
            if (
              counter.has(el.dataset.id) &&
              counter.get(el.dataset.id) !== 1
            ) {
              return false;
            }
          }

          return true;
        },
        removeOnSpill: true, // cannot be used when copy is true.
        invalid: function (el, handle) {
          // Prevent dragging of the empty result indicator.
          if (Array.from(el.classList).includes("not-found")) {
            return true;
          }
          return false;
        },
      });

      // Low level API.
      drake.on("remove", function (el, container, source) {
        console.log("remove");
        console.log(el);
      });
    </script>
  </div>
</div>
{% endblock %}
