{% extends "base.html" %} {% block title %}Panels{% endblock %} {% block content
%}
<div class="uk-flex uk-flex-center">
  <div class="main-content">
    <ul class="uk-breadcrumb">
      <li>
        <a href="{{ url_for('conferences.list', page=conf_list_page) }}"
          >Conferences</a
        >
      </li>
      <li>
        <a
          href="{{ url_for('conferences.detail', slug=slug, clp=conf_list_page) }}"
          >{{ conference.name }}</a
        >
      </li>
      <li><span>Panels</span></li>
    </ul>
    <a
      href="{{ url_for('conferences.create_panel', slug=slug) }}"
      class="uk-button uk-button-text"
      >Create new panel</a
    >
    <hr />
    <div class="panel-list">
      {% for p in items %}
      <div class="uk-card uk-card-default uk-card-body proposal-card">
        <h4 class="uk-card-title">
          <a
            class="uk-link-heading"
            href="{{ url_for('conferences.panel_detail', slug=slug, pid=p.id, plp=pagination['curr_page']) }}"
            >#{{ p.id }} - {{ p.name }} {{ p.start }}</a
          >
        </h4>
        <div class="uk-grid-small uk-child-width-auto" uk-grid>
          <div>
            <a
              class="uk-button uk-button-text"
              href="{{ url_for('conferences.panel_detail', slug=slug, pid=p.id, plp=pagination['curr_page']) }}"
              >Detail</a
            >
          </div>
          <div>
            <a
              class="uk-button uk-button-text"
              href="{{ url_for('conferences.proposal_delete', slug=slug, pid=p.id, plp=pagination['curr_page']) }}"
              >Delete</a
            >
          </div>
        </div>
      </div>
      {% else %}
      <div class="pure-u-1 not-found">
        <p>No panel found</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
