{% extends "base.html" %} {% block title %}Panels{% endblock %} {% block content
%}
<div class="uk-flex uk-flex-center">
  <div class="main-content">
    <ul class="uk-breadcrumb">
      <li>
        <a href="{{ url_for('conferences.list', page=conf_list_page) }}"
          >Conferences</a
        >
      </li>
      <li>
        <a
          href="{{ url_for('conferences.detail', slug=slug, clp=conf_list_page) }}"
          >{{ conference.name }}</a
        >
      </li>
      <li><span>Panels</span></li>
    </ul>
    <a
      href="{{ url_for('conferences.create_panel', slug=slug) }}"
      class="uk-button uk-button-text"
      >Create new panel</a
    >
    <hr />
    <div>
      {% for p in items %}
      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-expand" uk-leader><a
            class="uk-link-heading"
            href="{{ url_for('conferences.panel_detail', slug=slug, pid=p.id, plp=pagination['curr_page']) }}"
            >{{ p.name }}</a></div>
        <div>{{ p.start }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
