[Unit]
Description=Web application server for management of COTS conference

[Service]
EnvironmentFile=/root/projects/mngt/.env
WorkingDirectory=/root/projects/mngt/
ExecStart=/root/.pyenv/versions/py3100/bin/gunicorn -b localhost:5000 -w 2 --access-logfile - --error-logfile - mngt.wsgi:app

[Install]
WantedBy=multi-user.target
